# Dependencies
/node_modules

# Environment variables
.env

# Temporal uploads folder
/uploads/

# Public assets folder - We don't want to commit user-uploaded content
/public/

# Archivo de configuración de la base de datos
/db/database.js

# Scripts de prueba o temporales
/hash.js

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*